In [48]:
import numpy as np
import pandas as pd

### NumPy array vs. Pandas Series

In [49]:
a = np.array([1, 2, 8, 3, 4, 7, 6])
a

array([1, 2, 8, 3, 4, 7, 6])

In [50]:
# numpy array has an implicit numeric index
a[1:3]

array([2, 8])

In [51]:
# Series has an explicit index
ap = pd.Series([1, 2, 8, 3, 4, 7, 6])
ap

0    1
1    2
2    8
3    3
4    4
5    7
6    6
dtype: int64

In [52]:
ap[1:3]

1    2
2    8
dtype: int64

In [53]:
# Series index can be of any type
apt = pd.Series([1, 2, 8, 3, 4, 7, 6], index=['a', 'b', 'c', 'd', 'e', 'f', 'g'])
apt

a    1
b    2
c    8
d    3
e    4
f    7
g    6
dtype: int64

In [54]:
# access elements by index
apt['d']

3

### Creating Series from a Python dictionary

In [55]:
population_dict = {'California': 38332521, 'Texas': 26448193, 'New York': 19651127, \
                   'Florida': 19552860, 'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [56]:
population['California']

38332521

In [57]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297, \
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)

### Create a DataFrame from the Series

In [58]:
states = pd.DataFrame({'population': population, 'area': area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [59]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [60]:
states.columns

Index(['population', 'area'], dtype='object')

In [61]:
states['population']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
Name: population, dtype: int64

In [62]:
type(states.loc['California'])

pandas.core.series.Series