In [1]:
import pandas as pd

In [2]:
names = ['{"name": "dominic"}', '{"name": "james"}']

In [3]:
allnames = ','.join(names)
allnames

'{"name": "dominic"},{"name": "james"}'

In [4]:
allnamesjson = '[{0}]'.format(allnames)

In [5]:
allnamesjson

'[{"name": "dominic"},{"name": "james"}]'

In [27]:
pd.read_json(allnamesjson)

      name
0  dominic
1    james