In [18]:
import pandas as pd
import numpy as np

In [19]:
df_states = pd.read_csv('data/us-states.csv', dtype={'fips': 'string'})

In [20]:
df_states

,date,state,fips,cases,deaths,confirmed_cases,confirmed_deaths,probable_cases,probable_deaths
0,2020-11-19,Alabama,01,223486,3347,187623.0,3073.0,35863.0,274.0
1,2020-11-19,Alaska,02,25454,94,0.0,94.0,25454.0,0.0
2,2020-11-19,Arizona,04,284554,6365,NaN,NaN,NaN,NaN
3,2020-11-19,Arkansas,05,137617,2275,122481.0,2085.0,15136.0,190.0
4,2020-11-19,California,06,1069316,18465,1065883.0,18465.0,3433.0,0.0
5,2020-11-19,Colorado,08,178224,2669,NaN,NaN,NaN,NaN
6,2020-11-19,Connecticut,09,97028,4784,NaN,NaN,NaN,NaN
7,2020-11-19,Delaware,10,29755,742,NaN,NaN,NaN,NaN
8,2020-11-19,District of Columbia,11,19465,665,19465.0,665.0,0.0,0.0
9,2020-11-19,Florida,12,905240,17730,0.0,17730.0,905240.0,0.0
10,2020-11-19,Georgia,13,417934,8833,378237.0,8332.0,39697.0,501.0
11,2020-11-19,Guam,66,7315,101,7194.0,101.0,121.0,0.0
12,2020-11-19,Hawaii,15,16817,222,NaN,NaN,NaN,NaN
13,2020-11-19,Idaho,16,87020,815,74060.0,746.0,12960.0,69.0
14,2020-11-19,Illinois,17,608056,11488,589946.0,11055.0,18110.0,433.0
15,2020-11-19,Indiana,18,270847,5084,268222.0,4830.0,2625.0,254.0
16,2020-11-19,Iowa,19,197532,2102,197532.0,2102.0,0.0,0.0
17,2020-11-19,Kansas,20,131051,1326,NaN,NaN,NaN,NaN
18,2020-11-19,Kentucky,21,148069,1816,NaN,NaN,NaN,NaN
19,2020-11-19,Louisiana,22,209914,6184,200982.0,5939.0,8932.0,245.0
20,2020-11-19,Maine,23,9519,170,8559.0,170.0,960.0,0.0
21,2020-11-19,Maryland,24,172204,4351,172079.0,4201.0,125.0,150.0
22,2020-11-19,Massachusetts,25,195868,10407,189518.0,10177.0,6350.0,230.0
23,2020-11-19,Michigan,26,302541,8576,277150.0,8192.0,25391.0,384.0
24,2020-11-19,Minnesota,27,242099,3066,238646.0,2961.0,3453.0,105.0
25,2020-11-19,Mississippi,28,137396,3601,114043.0,3180.0,23353.0,421.0
26,2020-11-19,Missouri,29,266187,3591,263777.0,3590.0,2410.0,1.0
27,2020-11-19,Montana,30,50650,568,50638.0,568.0,12.0,0.0
28,2020-11-19,Nebraska,31,106617,838,32293.0,249.0,74324.0,589.0
29,2020-11-19,Nevada,32,126106,1947,126093.0,1947.0,13.0,0.0
30,2020-11-19,New Hampshire,33,15749,504,12904.0,488.0,2845.0,16.0
31,2020-11-19,New Jersey,34,291374,16655,289562.0,14843.0,1812.0,1812.0
32,2020-11-19,New Mexico,35,70452,1290,70452.0,1290.0,0.0,0.0
33,2020-11-19,New York,36,578826,33607,574156.0,28937.0,4670.0,4670.0
34,2020-11-19,North Carolina,37,322258,4927,307357.0,4798.0,14901.0,129.0
35,2020-11-19,North Dakota,38,67236,791,67230.0,785.0,6.0,6.0
36,2020-11-19,Northern Mariana Islands,69,103,2,103.0,2.0,0.0,0.0
37,2020-11-19,Ohio,39,318828,5827,NaN,NaN,NaN,NaN
38,2020-11-19,Oklahoma,40,161425,1570,0.0,1570.0,161425.0,0.0
39,2020-11-19,Oregon,41,59670,791,57256.0,486.0,2414.0,305.0
40,2020-11-19,Pennsylvania,42,287464,9541,NaN,NaN,NaN,NaN
41,2020-11-19,Puerto Rico,72,77525,971,43031.0,756.0,34494.0,215.0
42,2020-11-19,Rhode Island,44,45911,1284,0.0,924.0,45911.0,360.0
43,2020-11-19,South Carolina,45,199447,4182,187774.0,3906.0,11673.0,276.0
44,2020-11-19,South Dakota,46,68671,674,64582.0,NaN,4089.0,NaN
45,2020-11-19,Tennessee,47,319021,4005,296334.0,845.0,22687.0,3160.0
46,2020-11-19,Texas,48,1125758,20471,1057031.0,14813.0,68727.0,5658.0
47,2020-11-19,Utah,49,162091,742,47782.0,366.0,114309.0,376.0
48,2020-11-19,Vermont,50,3161,60,3161.0,60.0,0.0,0.0
49,2020-11-19,Virginia,51,208833,3860,NaN,NaN,NaN,NaN
50,2020-11-19,Virgin Islands,78,1463,23,1463.0,23.0,0.0,0.0
51,2020-11-19,Washington,53,142511,2704,137687.0,2632.0,4824.0,72.0
52,2020-11-19,West Virginia,54,36277,612,31821.0,585.0,4456.0,27.0
53,2020-11-19,Wisconsin,55,350665,2939,332937.0,2837.0,17728.0,102.0
54,2020-11-19,Wyoming,56,25275,155,21750.0,NaN,3525.0,NaN

In [21]:
df_states[['cases']].sort_values(['cases'], ascending=False)
df_states.head()

,date,state,fips,cases,deaths,confirmed_cases,confirmed_deaths,probable_cases,probable_deaths
0,2020-11-19,Alabama,01,223486,3347,187623.0,3073.0,35863.0,274.0
1,2020-11-19,Alaska,02,25454,94,0.0,94.0,25454.0,0.0
2,2020-11-19,Arizona,04,284554,6365,NaN,NaN,NaN,NaN
3,2020-11-19,Arkansas,05,137617,2275,122481.0,2085.0,15136.0,190.0
4,2020-11-19,California,06,1069316,18465,1065883.0,18465.0,3433.0,0.0

In [22]:
df_state_pop = pd.read_csv('data/state_populations_estimate.csv')
df_state_pop.head()

        state  population
0     Alabama     4903185
1      Alaska      731545
2     Arizona     7278717
3    Arkansas     3017804
4  California    39512223

In [23]:
df_states = pd.merge(df_states, df_state_pop, on='state')

In [24]:
df_states.head()

,date,state,fips,cases,deaths,confirmed_cases,confirmed_deaths,probable_cases,probable_deaths,population
0,2020-11-19,Alabama,01,223486,3347,187623.0,3073.0,35863.0,274.0,4903185
1,2020-11-19,Alaska,02,25454,94,0.0,94.0,25454.0,0.0,731545
2,2020-11-19,Arizona,04,284554,6365,NaN,NaN,NaN,NaN,7278717
3,2020-11-19,Arkansas,05,137617,2275,122481.0,2085.0,15136.0,190.0,3017804
4,2020-11-19,California,06,1069316,18465,1065883.0,18465.0,3433.0,0.0,39512223

In [25]:
df_states['cases_per_capita'] = df_states['cases']/df_states['population']
df_states.head()

,date,state,fips,cases,deaths,confirmed_cases,confirmed_deaths,probable_cases,probable_deaths,population,cases_per_capita
0,2020-11-19,Alabama,01,223486,3347,187623.0,3073.0,35863.0,274.0,4903185,0.045580
1,2020-11-19,Alaska,02,25454,94,0.0,94.0,25454.0,0.0,731545,0.034795
2,2020-11-19,Arizona,04,284554,6365,NaN,NaN,NaN,NaN,7278717,0.039094
3,2020-11-19,Arkansas,05,137617,2275,122481.0,2085.0,15136.0,190.0,3017804,0.045602
4,2020-11-19,California,06,1069316,18465,1065883.0,18465.0,3433.0,0.0,39512223,0.027063

In [26]:
df_states[['cases_per_capita']].sort_values(['cases_per_capita'], ascending=False)
df_states.head()

,date,state,fips,cases,deaths,confirmed_cases,confirmed_deaths,probable_cases,probable_deaths,population,cases_per_capita
0,2020-11-19,Alabama,01,223486,3347,187623.0,3073.0,35863.0,274.0,4903185,0.045580
1,2020-11-19,Alaska,02,25454,94,0.0,94.0,25454.0,0.0,731545,0.034795
2,2020-11-19,Arizona,04,284554,6365,NaN,NaN,NaN,NaN,7278717,0.039094
3,2020-11-19,Arkansas,05,137617,2275,122481.0,2085.0,15136.0,190.0,3017804,0.045602
4,2020-11-19,California,06,1069316,18465,1065883.0,18465.0,3433.0,0.0,39512223,0.027063

### Map county data

In [27]:
# rename fips
df_states.rename(columns={"fips": "fips_state"}, inplace=True)
df_states.head()

,date,state,fips_state,cases,deaths,confirmed_cases,confirmed_deaths,probable_cases,probable_deaths,population,cases_per_capita
0,2020-11-19,Alabama,01,223486,3347,187623.0,3073.0,35863.0,274.0,4903185,0.045580
1,2020-11-19,Alaska,02,25454,94,0.0,94.0,25454.0,0.0,731545,0.034795
2,2020-11-19,Arizona,04,284554,6365,NaN,NaN,NaN,NaN,7278717,0.039094
3,2020-11-19,Arkansas,05,137617,2275,122481.0,2085.0,15136.0,190.0,3017804,0.045602
4,2020-11-19,California,06,1069316,18465,1065883.0,18465.0,3433.0,0.0,39512223,0.027063

In [28]:
df_counties = pd.read_csv('data/us-counties.csv', \
                               dtype={'fips': 'string'})
df_counties = df_counties[['state', 'fips']]
df_counties.dropna(inplace=True)
df_counties['fips_state'] = df_counties['fips'].apply(lambda x: x[:2])

In [31]:
# join county level fips data to state data
df_states_copy = pd.merge(df_states, df_counties, how='left', on='fips_state')
df_states_copy = df_states_copy[['fips', 'cases']]
df_states_copy.dropna(inplace=True)
df_states_copy.shape

(3217, 2)

In [32]:
from urllib.request import urlopen
import json
with urlopen('https://raw.githubusercontent.com/plotly/datasets/master/geojson-counties-fips.json') as response:
    counties = json.load(response)

import plotly.express as px

fig = px.choropleth_mapbox(df_states_copy, geojson=counties, locations='fips', color='cases_per_capita',
                           color_continuous_scale="Viridis",
                           range_color=(0, 0.07),
                           mapbox_style="carto-positron",
                           zoom=3, center = {"lat": 37.0902, "lon": -95.7129},
                           opacity=0.5,
                           labels={'cases_per_capita':'cases per capita'}
                          )
fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
fig.show()

ValueError: Value of 'color' is not the name of a column in 'data_frame'. Expected one of ['fips', 'cases'] but received: cases_per_capita